/*
    Main layout
*/

body, div
{
    margin: 0;
    padding: 0;
}

#page
{
    width: 974px;
    margin: 0 auto;
}

#header
{
    clear: both;
}

#about
{
    float: right;
    width: 200px;
}

#content
{
    margin-right: 200px;
    padding-right: 60px;
}

#footer
{
    clear: both;
    padding-top: 30px;
}

/*
    Styles
*/

body
{
    font-family: Calibri, Trebuchet MS, Sans-Serif
}

h1, h2, h3
{
    font-family: Cambria, Georgia, Serif
}

#title
{
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

#subtitle
{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: #777;
}

#footer
{
    color: #999;
    font-size: smaller;
}

#footer a
{
    color: #999;
}

#photo
{
    clear: both;
    margin-bottom: 10px;
}
